<table class='table table-bordered table-hover user-table'>
	<thead class='table-primary'>
	<tr>
	  <th class='text-center' style='width: 15%'>ユーザーID</th>
	  <th class='text-center' style='width: 25%'>プロフィール画像</th>
	  <th class='text-center' style='width: 45%'>ユーザーネーム</th>
	  <th class='text-center' style='width: 15%'>詳細内容</th>
  </tr>
	</thead>
	<tbody>
    <% users.each do |user| %>
  <tr>
    <th class='text-center'><%= user.id %></th>
	  <td class='user_image_td'>
　　　 <%= attachment_image_tag user, :profile_image, :fill, 50, 50, class:'user_image', fallback: 'no_image.jpg', size:'50x50' %>
    </td>
    <td><%= user.user_name %></td>
    <td class='text-center'><%= link_to '詳細', user_path(user.id), class:'btn btn-outline-success' %></td>
  </tr>
      <% end %>
  </tbody>
</table>
