<div class='container'>
	<h1 class='my-4 border-bottom border-secondry'>ユーザー情報編集</h1>
  <div class='row'>
    <div class='col-10 offset-1'>
    <%= render 'users/users/form', user:@user %><br>
    </div>
  </div>
</div>
