<div class='container'>
  <div class='row'>
    <div class='col-10 offset-1'>
      <h1 class='mt-3 border-bottom border-secondry' >家電情報編集</h1>
      <%= form_for(@appliance, url: admins_appliance_path) do |f| %>
      <%= render 'layouts/error_messages', obj:@appliance %>
      <%= render 'users/appliances/form', appliance:@appliance, f:f %>
      <% end %>
    </div>
  </div>
</div>
