<div class='container'>
	<h1 class='my-4 border-bottom border-secondry'>ユーザー詳細情報</h1>
  <div class='row'>
    <div class='col-10 offset-1'>
      <%= render 'users/users/show', user:@user %><br>

      <h2 class='my-4 border-bottom border-secondry text-center'>管理家電一覧</h2>
      <%= render 'admins/appliances/list', appliances:@appliance %><br>
    </div>
  </div>
</div>
