<div class='container'>
	<h1 class='my-4 border-bottom border-secondry'>検索結果</h1>

    <% if @appliance_or_user == '1' %>
    <h2 class='mb-4 border-bottom border-secondry text-center'>家電情報一覧</h2>
    <%= render 'admins/appliances/list', appliances:@appliances %><br>

    <% else @appliance_or_user == '2' %>
    <h2 class='mb-4 border-bottom border-secondry text-center'>ユーザー検索一覧</h2>
    <%= render 'admins/users/list', users:@users %><br>
    <% end %>

</div>
