<div class='container'>
  <div class='row'>
    <div class='col-10 offset-1'>
      <%= link_to '新規投稿', new_appliance_path, class:'my-4 btn btn-success btn-block' %>
      <h1 class='mt-3 border-bottom border-secondry'>家電情報詳細</h1>
      <%= render 'show', appliance:@appliance %>
    </div>
  </div>
</div>
