<%= link_to '新規投稿', new_appliance_path %>
<h1>カテゴリ</h1>

<h2>ようこそ、家電 ChangeRecorder</h2>
<p>家電製品の購入日や稼働開始日を登録すると保証期限や有効寿命が経過する前に通知を行い、他の利用者の投稿内容や稼働期間を閲覧できることで買い替え時の参考にできるサイトです。</p>

<h1>お知らせ</h1>

<h2>最近の更新</h2>
